<h2>Featured Jobs</h2>
<div class="span4">
  Filter: <input ng-model="query">
</div>
<div class="span12">
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="entry in entries | filter:query">
        <td> <span class="label label-warning">{{entry.jobtype}}</span> </td>
        <td><strong><a href="#/job/{{entry.jobkey}}">{{entry.jobtitle}}</a></strong><br />
          {{entry.company}}
        </td>
        <td>{{entry.city}} {{entry.zipcode}}<br />
          {{entry.state}}, {{entry.country}}</td>
        <td> {{entry.date | date:shortDate}}</td>
      </tr>
    </tbody>
  </table>

</div>
