<div class="row-fluid">
  <div class="span12">
    <br>
    <h1>{{entry.Field5}}</h1>
    <h2><a href="{{entry.Field2}}">{{entry.Field1}}</a></h2>
    <div class="row-fluid">
      <div class="span12">
        <span class="duration">{{entry.Field6}}</span>&nbsp;&nbsp;<span class="job_info_sep">|</span>&nbsp;&nbsp;{{entry.Field11}}, {{entry.Field12}}&nbsp;&nbsp;<span class="job_info_sep">|</span>&nbsp;&nbsp;Posted on {{entry.DateCreated}}
      </div>
    </div>
    <hr>

    <h3>Job Description</h3>

    <div class="row-fluid" ng-bind-html-unsafe="entry.Field7">
      Job Description
    </div>

    <hr>

    <h3>Job summary</h3>
    <div class="row-fluid">

      <div class="span4 ">
        <h4>Company</h4>
        <span>{{entry.Field1}}</span><br>

        <h4>Job Type</h4>
        <span>{{entry.Field6}}</span><br>

      </div>
      <div class="span4 ">
        <h4>Location</h4>
        <span>{{entry.Field11}}, {{entry.Field12}}</span><br>

        <h4>Job Title</h4>
        <span>{{entry.Field5}}</span><br>
      </div>
      <div class="span4 ">

        <h4>Compensation</h4>
        <span>{{entry.Field8}}</span><br>

      </div>


    </div>

    <hr>
    <br>

  </div>
</div>
