<!doctype html>
<html lang="en" ng-app="businessDirectory">
<head>
  <meta charset="utf-8">
  <title>Business Directory</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../components/angular-ui/build/angular-ui.min.css">
</head>
<body data-ng-controller="MainCtrl">

<div data-resource-loading-notification></div>

<div data-ng-controller="BusinessListCtrl">

  <div id="searchHeader">
    <ul>

      <li>
        <label>Filter By Type:
          <select data-ng-options="value for value in categories"
              data-ng-model="search.category"></select>
        </label>
      </li>

      <li>
        <label>Search By Name:
          <input type="search" data-ng-model="search.query">
        </label>
      </li>

    </ul>
  </div>

  <div id="searchResults">
    <ul class="media-block">
      <li class="media-block-module" data-ng-repeat="business in businesses | filter:{$: search.query, category: search.category}">
        <div class="media-story">
          <div class="item-title">
            <a data-ng-show="isLink(business.website)" data-ng-href="http://{{business.website}}" data-ng-bind="business.business_name" target="_blank"></a>
            <span data-ng-hide="isLink(business.website)" data-ng-bind="business.business_name"></span>
          </div>
          <ul class="media-content">
            <li class="address">
              <a data-ng-href="https://maps.google.com/?mid=1339090648&amp;q={{ buildAddress(business) }}"
                  data-ng-bind="buildAddress(business)"></a>
            </li>
            <li class="phone"><a href="tel:{{ business.phone }}" data-ng-bind="business.phone"></a></li>
            <li class="type" data-ng-bind="business.category"></li>
          </ul>
          <div data-ng-switch="isMapDisplayed(business)">
            <div data-ng-switch-when="true">
              <div id="map_canvas" ui-map="business.map" class="map"
                ui-event="{'map-idle': mapLoaded(business)}"
                ui-options="getMapOptions(business)">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>

<!-- Scripts -->
<script src="../components/underscore/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="../components/angular-ui/build/angular-ui.min.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="../js/business-directory/app.js"></script>
<script src="../js/business-directory/config.js"></script>
<script src="../js/business-directory/services.js"></script>
<script src="../js/business-directory/controllers.js"></script>
<script src="../js/business-directory/filters.js"></script>
<script src="../js/business-directory/directives.js"></script>
</body>
</html>
