<!doctype html>
<html lang="en" ng-app="businessDirectory">
<head>
  <meta charset="utf-8">
  <title>Business Directory</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../components/angular-ui/build/angular-ui.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body data-ng-controller="MainCtrl">
<div class="container">

  <div data-resource-loading-notification></div>

  <div data-ng-controller="MainMapCtrl" class="mainMap-wrapper">
    <div id="map_canvas" class="mainMap"
        ui-map="map" ui-map-marker="markers"
        ui-event="{'map-idle': mapLoaded()}"
        ui-options="getMapOptions()">
    </div>

    <div class="well clearfix">
      <ul class="categories">
        <li data-ng-repeat="category in categories">
          <label class="checkbox">
            <input type="checkbox" value="{{$index}}"
                data-ng-model="activeCategories[$index]"
                data-ng-click="filterChanged($index)">
            {{category}}
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div style="clear: both"></div>

  <div data-ng-controller="BusinessListCtrl">

    <div id="searchHeader" class="form-inline tac">
      <h2>Search for businesses near you</h2>
      <label>Filter By Type:
        <select data-ng-options="value for value in categories"
            data-ng-model="search.category"></select>
      </label>
      <label>Search By Name:
        <input type="search" data-ng-model="search.query">
      </label>
    </div>

    <div id="searchResults" data-ng-include="'partials/search-results.html'"></div>

  </div>
</div>

<!-- Scripts -->
<script src="../components/underscore/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="../components/angular-ui/build/angular-ui.min.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script src="../js/business-directory/app.js"></script>
<script src="../js/business-directory/config.js"></script>
<script src="../js/business-directory/services.js"></script>
<script src="../js/business-directory/filters.js"></script>
<script src="../js/business-directory/directives.js"></script>
<script src="../js/business-directory/controllers/Main.js"></script>
<script src="../js/business-directory/controllers/MainMap.js"></script>
<script src="../js/business-directory/controllers/BusinessList.js"></script>
</body>
</html>
