.map {
  height: 400px;
  width: 600px;
}

.mainMap-wrapper {

}

.mainMap-wrapper .mainMap {
  max-width: 1260px;
  height: 600px;
  margin: 0 auto
}

.mainMap-wrapper .categories {
  margin: 0;
  padding: 0;
}

.mainMap-wrapper .categories li {
  float: left;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tac {
  text-align: center;
}