<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>North Minneapolis Business Directory</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style>
      ul {
        list-style-type: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>North Mpls Business Directory</h1>

      <div class="row" id="directory">
        <form role="form" class="row">
          <div class="form-group col-sm-4">
            <label for="category-filter">Filter By Category:</label>
            <select class="category-filter form-control" id="category-filter">
              {{#categories}}
                <option value="{{.}}">{{.}}</option>
              {{/categories}}
            </select>
          </div>
          <div class="form-group col-sm-3">
            <label for="text-search-filter">Search By Name:</label>
            <input type="text" class="search form-control" id="text-search-filter" placeholder="Enter business title">
          </div>
          <div class="col-sm-3">
            <div class="sort" data-sort="name">Sort by name</div>
            <div class="sort" data-sort="category">Sort by category</div>
          </div>
        </form>

        <ul class="list">
          {{#directory}}
          <li class="row">
            <img src="{{google_place_img}}" class="thumb col-xs-2 col-sm-2 col-md-2 col-lg-2" />
            <div class="col-sm-8 col-md-8 col-lg-8">
              <h4>
                {{#website}}
                  <a href="{{website}}"><span class="name">{{business_name}}</span></a>
                {{/website}}
                {{^website}}
                  <span class="name">{{business_name}}</span>
                {{/website}}
              </h4>
              <div class="category">{{category}}</div><br />
              <span class="social">
                {{#wbc_member}}
                  <img src="http://cdn.cape.io/icons/westbroadway/wbc-67.png" />
                {{/wbc_member}}
                {{#facebook_url}}
                  <a href="{{facebook_url}}" class="facebook"><i class="icon-facebook"></i></a>
                {{/facebook_url}}
                {{#yelp_url}}
                  <a href="{{yelp_url}}" class="yelp"><img src="http://cdn.cape.io/icons/yelp/yelp-32.png" /></a>
                {{/yelp_url}}
                {{#google_place_url}}
                  <a href="{{google_place_url}}" class="google-plus"><i class="icon-google-plus"></i></a>
                {{/google_place_url}}
              </span>
              <phone>{{phone}}</phone> <br />
              {{#address}}
                <div class="address">
                  <address>{{address}}, {{city}}, {{state}}, {{zip}}</address>
                </div>
              {{/address}}
            </div>
          </li>
          {{/directory}}
        </ul>
      </div>

    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdn.cape.io/listjs/list.min.js"></script>
    <script type="text/javascript">
      $('document').ready(function() {
        var options = {
          valueNames: [ 'name', 'category' ]
        };
        var directoryList = new List('directory', options);
        $('address').each(function () {
          var link = "<a href='http://maps.google.com/maps?q=" + encodeURIComponent( $(this).text() ) + "' target='_blank'>" + $(this).text() + "</a>";
          $(this).html(link);
        });
        $('select.category-filter').change( function() {
          var select_value = this.value.replace("&","&amp;");
          directoryList.filter(function(item) {
            var category = item.values().category
            if (category == select_value) {
              return true;
            }
            else {
              // console.log("'"+category+"'='"+select_value+"'")
              return false;
            }
          });
        });
      });
    </script>

  </body>
</html>
