<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>North Minneapolis Business Directory</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>North Mpls Business Directory</h1>

      <div class="row" id="directory">
        <input type="text" class="search" />
        <select class="category-filter">
          {{#categories}}
            <option value="{{.}}">{{.}}</option>
          {{/categories}}
        </select>
        <span class="sort" data-sort="name">Sort by name</span>
        <span class="sort" data-sort="category">Sort by category</span>
        <ul class="list">
          {{#directory}}
          <li>
              <img src="{{google_place_img}}" class="thumb" />
              <h4>
                {{#website}}
                  <a href="{{website}}"><span class="name">{{business_name}}</span></a>
                {{/website}}
                {{^website}}
                  <span class="name">{{business_name}}</span>
                {{/website}}
              </h4>
              {{#wbc_member}}
                <img src="http://cdn.cape.io/icons/westbroadway/wbc-67.png" />
              {{/wbc_member}}
              <div class="address">
                <address>{{address}}, {{city}}, {{state}}, {{zip}}</address>
              </div>
              <phone>{{phone}}</phone> <br />
              <div class="category">{{category}}</div>
              <div class="social">
                {{#facebook_url}}
                  <a href="{{facebook_url}}" class="facebook"><i class="icon-facebook"></i></a>
                {{/facebook_url}}
                {{#yelp_url}}
                  <a href="{{yelp_url}}" class="yelp"><img src="http://cdn.cape.io/icons/yelp/yelp-32.png" /></a>
                {{/yelp_url}}
                {{#google_place_url}}
                  <a href="{{google_place_url}}" class="google-plus"><i class="icon-google-plus"></i></a>
                {{/google_place_url}}
              </div>
          </li>
          {{/directory}}
        </ul>
      </div>

    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="//cdn.cape.io/listjs/list.min.js"></script>
    <script type="text/javascript">
      $('document').ready(function() {
        var options = {
          valueNames: [ 'name', 'category' ]
        };
        var directoryList = new List('directory', options);
        $('address').each(function () {
            var link = "<a href='http://maps.google.com/maps?q=" + encodeURIComponent( $(this).text() ) + "' target='_blank'>" + $(this).text() + "</a>";
            $(this).html(link);
        });
        $('select.category-filter').change( function() {
          alert( this.value );
          directoryList.filter(function(item) {
            if (item.values().category == this.value) {
              return true;
            }
            else {
              return false;
            }
          });
        });
      });
    </script>

  </body>
</html>
